{% extends 'moddjango/base.html' %}

{% block title %}
    moddjango || management modules
{% endblock %}

{% block nav_management %}active{% endblock %}

{% block content %}
  <h1>Управление модулями</h1>

  {% if form.errors %}
    {% for field, errors in form.errors.items %}
      {% for error in errors %}
        <div class="text-danger">{{ error }}</div>
      {% endfor %}
    {% endfor %}

  {% endif %}
  
  {% for module in modules %}
    {% include 'moddjango/parts/management-module.html' %}
  {% empty %}
     Ниодного модуля не найдено. Попробуйте положить модуль в папку 'moddjango/download'
  {% endfor %}
{% endblock %}




